<nb-layout>

  <nb-layout-header fixed>
    <button style="margin-right: 26px;" ghost nbButton (click)="toggle()">
      <nb-icon icon="menu-outline"></nb-icon>
    </button>
    <img src="" alt="">

      <nb-user class="nb-user" name="{{usuario.name}}" title="{{usuario.login}}" [nbContextMenu]="items2" nbContextMenuTag="my-context-menu">
      </nb-user>
      
  </nb-layout-header>

  <nb-sidebar class="navbar" state="compacted" responsive>
    <nb-menu class="itens" [items]="items"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed class="footer">
    &copy;2024 Gustavo Bueno. Todos os direitos reservados.
  </nb-layout-footer>

</nb-layout>
